<header class="main-header">
  <h1 class="main-header__title">
    <span class="main-header__title--blue">WD</span><span class="main-header__title--orange">Computers</span>
  </h1>
  <div class="container-menu">
  <nav class="main-header__menu">
    <ul>
      <li>
        <a>Produtos</a>
      </li>
      <li>
        <a >
          Carrinho
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </li>
      <li><a>Contato</a></li>
      <li><a ></a><i class="fa-brands fa-facebook-f"></i></li>
      <li><a ><i class="fa-brands fa-instagram"></i></a></li>
      <li><a ><i class="fa-brands fa-twitter-square"></i></a></li>
      <li><a ><i class="fa-brands fa-linkedin-in"></i></a></li>
    </ul>
  </nav>
  </div>
  <form action="">
    <input type="text" class="main-header">
    <button class="main-header"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>
 
</header>
