<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, nostrum eveniet omnis repellendus dolore ab aut asperiores, sequi, vitae unde quaerat. Dicta dolorem deleniti sapiente placeat ipsam nemo quos accusantium!
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li><i class="fa-solid fa-envelope"></i> wyltamarjavadev@gmail.com</li>
        <li><i class="fa-solid fa-phone"></i>(83) 99964-5517</li>
        <li><i class="fa-brands fa-whatsapp"></i>+55 83 999645517</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; Todos os direitos reservados
  </section>
</footer>